# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Test / tooling caches
.pytest_cache/

# Virtual environments
.venv/
venv/
